#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.2-service
    override
    class hal
    user nfc
    group nfc
    disabled

on early-init && property:ro.boot.hwc=GL
    setprop ro.boot.product.vendor.sku nfc

on early-init && property:ro.boot.hwc=CN
    setprop ro.boot.product.vendor.sku nfc

on init && property:ro.boot.product.vendor.sku=nfc
    enable vendor.nfc_hal_service
